.container {
  font-size: 14px;
  border-radius: 5%;
  background: #ededed;
  border:10px solid #009bff;
  max-width: 800px;
  margin: 10px auto;
  padding: 40px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

progress {
  width: 100%;
  margin-bottom: 20px;
}

.mnemonic-list {
  margin-top: 20px;
}

.log {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  height: 400px;
  overflow-y: scroll;
}
